@font-face {
    font-family:Poppins ;
    src: url("../font/Poppins-Regular.ttf");
    font-family:Inter ;
    src: url("../font/Inter-VariableFont_slnt\,wght.ttf");
}
#desc-header
{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    height: 100px;
    width: 100%;
    display: flex;
    padding: 3%;
}
#banner
{
    margin-top: 3%;
}
.text-head,.active
{
    color: #39DB4A ;
}
.desc-social
{
    width: 25%;
}
.desc-logo
{
    width: 25%;  
    text-align: center;
}
.desc-nav
{
    width: 50%;
}
.desc-nav ul{
    display: flex;
}
.desc-nav li{
    list-style-type: none;
    margin-left:5% ;
}
.desc-nav a
{
    text-decoration: none;
    color: #272727;
    font-weight: 500;
    font-family: Poppins;
    font-size:14px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.desc-nav a:hover
{
    text-decoration: none;
    color: #39DB4A;

    font-weight: 500;
    font-family: Poppins;
    font-size:14px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.desc-social ul
{
    display: flex;

}
.desc-social li
{
    list-style-type: none;
    margin-left: 5%;
}
.btn-contact
{
    background: #39DB4A;
    width: 159px;
    border-radius: 40px;

}
.btn-contact:hover
{
    background: #39DB4A;
    width: 159px;
    border-radius: 40px;

}
.desc-social a
{
    text-decoration: none;
    color: #ffffff;
}
/* mobile */
.bars{
   color: #272727;
}
#mobile-header
{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    height: 100px;
    width: 100%;
    display: flex;
    padding: 3%;
    display: none;
}
.mobile-logo
{
    width: 25%;
}
.mobile-social
{
    width: 75%;
}
.badge-btn
{
    background: #39DB4A;
    border-radius: 100%;
}
.btn-contact:hover
{
    background: #39DB4A;
    width: 159px;
    border-radius: 40px;

}
.mobile-social a
{
    text-decoration: none;

}
.mobile-social ul
{
    display: flex;
    justify-content: end;

}
.mobile-social li
{
    list-style-type: none;
    margin-left: 5%;
}
.text-white
{
    color: #ffffff;
}
.mobile-nav ul{
    display:block;
}
.mobile-nav li{
    list-style-type: none;
    margin-left:5% ;
}
.mobile-nav a
{
    text-decoration: none;
    color: #272727;
    font-weight: 500;
    font-family: Poppins;
    font-size:14px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}

.mobile-nav a:hover
{
    text-decoration: none;
    color: #39DB4A;

    font-weight: 500;
    font-family: Poppins;
    font-size:14px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

}
.mobile-nav
{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    height:100vh;
    width: 100%;
    display: none;
}
h2 {
    font-family: Inter;
    font-size:32px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;
  
}
/* banner */
.banner-content
{
    padding:13%;
}
.banner-para p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #4A4A4A;
   
}
.btn-order,.btn-order:hover
{
    color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;

border-radius: 40px;
background: #39DB4A;
box-shadow: -2px 22px 38px 0px rgba(142, 255, 154, 0.50);
}
.play-button
{
 
        position: absolute;
        margin-top: -3%;
}
.play-icon
{
  
        position: absolute;
        top: 25%;
        left: 41%;
    }
.btngroup
{
    margin-top: 8%;
}

.Watch-btn
{
 color: #4D4D4D;
     text-decoration: none;
     font-family: Inter;
font-size: 16px;
font-weight: 600;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
margin-left: 10%;
}


.slider-img {
    width: 70%;
}
.Group-img {
    margin-top: -18%;
    margin-left: -89%;
    width: 37%;
}
.box {
    display: flex;
    padding: 4%;
    width: 259px;
    height: 95px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.14) 7px 35px 51px 0px;
    background-color: rgb(255, 255, 255);
}
.circle
{
    text-align: center;
}
.spy-img img {
    width: 65%;
}
.fa-yellow
{
    color: hsl(46, 69%, 54%);
}
.star
{
    display: flex;
}
.star li{
    text-decoration: none;
    list-style-type: none;
}
.wrapper-content ul {
    display: flex;
    padding: 3%;
}
.wrapper-content li
{
    list-style-type: none;
    padding: 2%;
}
#Catagories
{
    margin-top: 10%;
}
.Catagories-text
{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;

}
.Customer-text
{
font-family: Inter;
font-size:14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.175em;
text-align: center;
color:#FF6868;

}
.Catagories-box
{
    width: 250px;
height:250px;
top: 1406px;
left: 155px;
border-radius: 20px;
box-shadow: 2px 10px 30px 0px #0000001A;

}
.Catagories-dish
{
    font-family: Inter;
font-size: 22px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: #555555;

}
.dish-name
{
    font-family: Inter;
font-size: 30px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: #1E1E1E;

}
.dish-img
{
    text-align: center;
}
.dish-box
{
    padding: 15%;
}

.home-demo .item {
    background: #ff3f4d;
}
.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}
.wrapper-content {
    margin-top: -14%;
    margin-left: 25%;
}
.our-story
{
    margin-top: 10%;
}
.story-text
{
    font-family: Inter;
font-size:14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.175em;
text-align: left;
color: #FF6868;

}
.story-head {
    font-family: Inter;
    font-size: 52px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.story-p {
    font-family: Inter;
    font-size: 23px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: #555555;
}
.btn-explore {
    border-radius: 21px;
    background: #39DB4A;
    color: #ffffff;
}
.btn-explore:hover {
    border-radius: 21px;
    background: #39DB4A;
    color: #ffffff;
}
.story-box {
    width: 220px;
    height: 220px;
    box-shadow: 7px 12px 43px 0px #00000024;
    border-radius: 20px;
    padding: 10%;
}

.story-boxtext
{
    font-family: Inter;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
color: #005809;

}
.story-img
{
    text-align: center;
}
.story-boxp {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #909090;
}
.story-time
{
    margin-top: 10%;
}
footer
{
    background: #E3FFE6;
   margin-top: 10%;
}
.foot-p
{
    font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: #555555;

}
.foot-header
{
    font-family: Inter;
font-size: 26px;
font-weight: 600;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: #000000;

}
.foot-useful li
{
    margin-top: 3%;
    list-style-type: none;
}
.foot-useful li a{
    font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #555555;
text-decoration: none;

}
.foot-link
{
    display: flex;
}
.foot-link li:hover
{
background: #39DB4A;
width:45px;
height: 45px;
border-radius: 50%;
}
.foot-link img{
    padding: 20%;
}
.foot-link li
{
    width:45px;
height: 45px;
border-radius: 50%;
list-style-type: none;

}
.foot-link .active
{
background: #39DB4A;
width:45px;
height: 45px;
border-radius: 50%;
}
.Copyright
{
    font-family: Inter;
font-size: 22px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #555555;

}
.chef {
    text-align: center;
    margin-top: -39%;
    margin-left: 50%;
}
.testimonial2,.testimonial3
{
    display: none;
}
.user-img ul
{
    display: flex;
}
.uimage
{
    margin-left: -6%;
}
.user-img li{
    list-style-type: none;
}
.user-img li img:hover{
    transition:margin-left 2s;
}
.testimonial-text
{font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.175em;
    text-align: left;
  color: #FF6868;
    

}
.testimonia-head
{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.testimonial1,.testimonial2,.testimonial3
{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #555555;
   width: 60%;
}
.Feedback
{
    font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #807E7E;

}
.user{
   display: flex;
   margin-top: 10%;
}
@media only screen 
  and (min-device-width: 210px) 
  and (max-device-width:320px)
{

#desc-header
{
    display: none;
}

}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
{
    #desc-header
    {
        display: none;
    }
    #mobile-header {
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
        height: 100px;
        width: 100%;
        display: flex;
        padding: 3%;
        display: block !important;
    }
}
@media only screen 
  and (min-device-width:480px) 
  and (max-device-width:620px)
{
    #desc-header
{
    display: none;
}
#mobile-header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    height: 100px;
    width: 100%;
    display: flex;
    padding: 3%;
    display: block !important;
}
}
@media only screen 
  and (min-device-width:620px) 
  and (max-device-width:720px)
  {
    #desc-header
    {
        display: none;
    }
    #mobile-header {
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
        height: 100px;
        width: 100%;
        display: flex;
        padding: 3%;
        display: block !important;
    }
  }
@media only screen 
  and (min-device-width:720px) 
  and (max-device-width:820px)
  {


}
@media only screen 
  and (min-device-width:820px) 
  and (max-device-width:1200px)
  {





}


